html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

h1 {
    padding: 60px;
    padding-left: 80px
     
}

h2 {
    padding-bottom: 15px;
    padding-left: 10px;
}

p {
    padding-left: 15px;
}

canvas {
    margin-top: 4em;
    margin-left: 12em;
    align-content: center;
    margin-bottom: 1em;
}

.footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 60px;
    line-height: 60px;  
}

.container {
    width: 100%;
}

